.conteudo {
	-fx-background-color: #000000;
	-fx-font-family: Oswald;
}

.titulo {
	-fx-text-fill: #0000ff;
	-fx-font-size: 28.0px;
}

.numero {
	-fx-text-fill: #fff;
	-fx-font-size: 28.0px;
}

.botoes {
	-fx-background-color: #fff;
	-fx-text-fill: #0000ff;
	-fx-font-size: 28.0px;
	-fx-min-width: 60.0px;
	-fx-min-height: 60.0px;
	-fx-background-radius: 30.0px;
}

.verde {
	-fx-text-fill: #00ff00;
}

.vermelho {
	-fx-text-fill: #ff0000;
}