.login {
	-fx-background-color: linear-gradient(to right, rgb(20.0, 136.0, 204.0),
		rgb(43.0, 50.0, 178.0));
}

.login-titulo{
	-fx-font-size: 24.0px;
	-fx-text-fill: #fff;
}

.login-form-label{
	-fx-font-size: 16.0px;
	-fx-text-fill: #fff;
}

.login-form-botao{
	-fx-font-size: 16.0px;
}